body {
    margin: 0;
}

.header-main {
    margin: 0;
    padding: 15px;
    display: flex;
    background-color: #0C2D57;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    animation: fadein 1.5s ease-in-out;
    color: #F5EFE7;
    box-shadow: 0 0 10px #000;
}

.nav-header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.item-nav {
    font-family: 'Asap', sans-serif;
    margin: 5px;
    text-decoration: none;
    color: white;
}

.item-nav:hover {
    font-family: 'Nunito', sans-serif;
    margin: 6px;
    text-decoration: none;
    color: #FC6736;
}



/*main*/
.img-kinal {
    margin-top: 100px;
}


/*text*/
.container-kinal {
    height: 100px;
    margin: 100px;
}

.container-kinal-p {
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

/*quienes somos*/

#quienessomos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
}

.vision,
.mision,
.valores {
    width: 350px;
    height: 550px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.vision:hover,
.mision:hover,
.valores:hover {
    background-color: #FC6736;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

.h2quienes {
    text-align: center;
    font-family: 'Fraunces', serif;
    color: #213555;
    font-size: 40px;
    margin: 70px 0px 30px 0px;
}

.text-quienes {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #213555;
    font-size: 20px;
    margin: 70px 0px 30px 0px;

}


/*Ciclos*/
.container-grado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
}

.text-ciclos {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #213555;
    font-size: 20px;
    margin: 70px 0px 30px 0px;

}

.container-ciclo-basico,
.container-ciclo-diversificado,
.container-escuela-tecnica {
    width: 350px;
    height: 600px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.container-ciclo-basico:hover,
.container-ciclo-diversificado:hover,
.container-escuela-tecnica:hover {
    background-color: #FC6736;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

.img-ciclo-basico img,
.img-ciclo-diversificado img,
.img-escuela-tecnica img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}


/*Partners*/
#partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-partners {
    text-align: center;
    font-family: 'Fraunces', serif;
    color: #213555;
    font-size: 40px;
    margin: 70px 0px 30px 0px;
}   

.img-partners {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}


/*footer*/
footer {
    background-color: #0C2D57;
    color: white;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.footer-contact,
.footer-logo,
.footer-info {
    flex: 1;
    padding: 0 10px;
    text-align: center;
}

.footer-contact h1 {
    font-size: 1.5em; /* Ajusta según tus preferencias */
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo img {
    max-width: 100%;
    height: auto; /* Mantiene la proporción original de la imagen */
}

.footer-copyright {
    width: 100%;
    text-align: center;
    padding: 10px;
}