* {
    margin: 0px;
}

body {
}


/* Header */
.header-main {
    padding: 15px;
    background-color: #213555;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    height: 90px;
}

#h1-header {
    margin-left: 100px;
    font-family: 'Fraunces', serif;
    color: #F5EFE7;
}

.nav-main {
    margin-right: 100px;
}

.item-nav {
    margin: 20px;
    width: 100px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Fraunces', serif;
    color: #F5EFE7;
}

.item-nav:hover {
    color: #F5EFE7;
    font-size: 17px;
}


/* Main */

main {
    margin: 0px 100px 0px 100px;
}


/* Introducction */
#introducction {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-introducction {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    width: 500px;
    height: 600px;
}

.h2-introducction {
    font-family: 'Fraunces', serif;
    color: #213555;
    font-size: 30px;
    margin-bottom: 20px;
}

.p-introducction {
    font-family: 'Forum', serif;
    color: #213555;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}

.img-introducction {
    border-radius: 50%;
}


/* Programming */
.h2-programming {
    font-family: 'Fraunces', serif;
    color: #213555;
    font-size: 30px;
    margin-bottom: 20px;
}
